@charset "utf-8";


.navbarbg{
    visibility: visible;
    background-color: rgba(0,0,0,0.7) !important;
    opacity: 1;
}

/*.conbg{*/
    /*visibility: visible;*/
    /*opacity: 1;*/
/*}*/
#myCarousel{
    margin-top: 50px;
}
.carousel-control{
    font-size: 100px;
}
.a{
    background-color: #2aabd2;
    height:230px;
}
.bg{
    margin-top: 10px;
    background-color: #000;
}
.paddingIns{
    padding: 15px 20px !important;
    color: #ffffff !important;
}
.fontcolor{
    color: #ffffff !important;
}
/*.fadeleft{*/
    /*visibility: visible;*/
    /*animation-delay: 3s;*/
    /*animation:fadeleft 2s;*/
    /*-moz-animation:fadeleft 2s; */
    /*-webkit-animation:fadeleft 2s;*/
    /*-o-animation:fadeleft 2s; */
/*}*/
/*@keyframes fadeleft {*/
    /*0% {left:-400px;}*/
    /*100% {left:0px;}*/
/*}*/
/*@-webkit-keyframes fadeleft {*/
    /*0% {left:-300px;}*/
    /*100% {left:0px;}*/
/*}*/
/*@-o-keyframes fadeleft {*/
    /*0% {left:-300px;}*/
    /*100% {left:0px;}*/
/*}*/

/*.faderight{*/
    /*visibility: visible;*/
    /*animation-delay: 3s;*/
    /*animation:faderight 2s;*/
    /*-moz-animation:faderight 2s;*/
    /*-webkit-animation:faderight 2s;*/
    /*-o-animation:faderight 2s; */
/*}*/
/*@keyframes faderight {*/
    /*0% {right:-400px;}*/
    /*100% {right:0px;}*/
/*}*/
/*@-webkit-keyframes faderight {*/
    /*0% {right:-400px;}*/
    /*100% {right:0px;}*/
/*}*/
/*@-o-keyframes faderight {*/
    /*0% {right:-400px;}*/
    /*100% {right:0px;}*/
/*}*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /*-webkit-animation-iteration-count: infinite;*/
    /*animation-iteration-count: infinite;*/
}

/*.animated.infinite {*/
    /*-webkit-animation-iteration-count: infinite;*/
    /*animation-iteration-count: infinite;*/
/*}*/

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes fadeleft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeleft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeleft {
    -webkit-animation-name: fadeleft;
    animation-name: fadeleft;
}